<html>

<head>
<title>PROSPECTIVE STUDENTS</title>
</head>

<body>

<p>Thanks for your interest in possibly joining the Scheuerell Lab. The information provided here is intended to give you an idea of the qualities I look for in graduate students, and my general expectations for students in my lab.</p>

<h3>Qualities</h3>

<p>I'm looking for students who are interested in the intersection of applied ecology and management. Students in my lab are motivated, receptive to new ideas, and good team players. I expect my students to help with the design, implementation, analysis, and communication of results. You should be willing to take a chance on occasion, potentially make a mistake, and learn from it.</p>

<p>We try our best to cultivate an inviting and inclusive atmosphere, and everyone in the lab is expected to abide by a code of conduct. Students who contribute to our diversity of backgrounds, opinions, and approaches are especially welcome. I intend to train not only good scientists, but good citizens as well.</p>

As a member of our lab, there will be times when you are called upon to assist one or more of our colleagues with their research.

<h3>Funding</h3>

<p>In addition to finding a faculty member with whom you'd like to work, SAFS requires their faculty to have secured at least 6 months of funding to cover your tution, benefits, and stipend, prior to making yo uan offer. This support typically comes from my own research grants, which means I won't necessarily be in a position to make an offer every year. Most students at SAFS are funded as a research assistants (RA), although we also have a few teaching assistant (TA) positions available. Students funded via an RA are typically expected to work directly on a project that may or may not be directly related to their own research.</p>

<p>Fellowships are also an excellent way to fund your graduate education. They release you from other obligations and allow you to focus on a research project of your own choosing. Each year SAFS offers a few fellowship awards to select students with excellent academic records, but these are very competitive. Alternatively, students may apply for external fellowships and carry them along to the institution of their choosing. Thus, I highly recommend all prospective students apply for one or more fellowships. Here are some possibilities:</p>

<ul>
  <li><a href="https://www.nsfgrfp.org/">NSF Graduate Research Fellowship</a></li>
  <li><a href="http://fosterscholars.noaa.gov/aboutnf.html">NOAA Nancy Foster Fellowship</a></li>
  <li><a href="https://coast.noaa.gov/nerrs/research/davidson-fellowship.html">NOAA Margaret A. Davidson Graduate Fellowship</a></li>
  <li><a href="https://seagrant.noaa.gov/NMFS-SG-Fellowship">NMFS-Sea Grant Joint Fellowship Program in Population and Ecosystem Dynamics and Marine Resource Economics</a></li>
  <li><a href="http://sites.nationalacademies.org/pga/fordfellowships/index.htm">Ford Foundation</a></li>
</ul>


<h3>Still interested?</h3>

<p>If all of this sounds great to you, please send me an email that includes the following information: (1) a description of your research interests, relevant experience, skills/abilities, and career goals; (2) a CV or resume with your GPA; and (3) an exmaple of your writing (e.g., publication, term paper). This is your opportunity to make a good first impression, so take the time to introduce yourself, your background, where you work or study, and what drew you to me. I will read through the materials you send me, and if I determine that we may indeed make a good fit, I will try my best to respond to you in a reasonable time, but please be patient. I may also ask to meet potential students in person, but unfortunately I do not have the time to meet with every prospective student.</p>

<p>Please direct specific questions about the application process to our <a href="https://fish.uw.edu/students/about-graduate-program/how-to-apply/">SAFS Graduate Program</a>.</p>



</body>
</html>
