<html>

<head>
<title>PROSPECTIVE STUDENTS</title>
</head>

<body>

<p>Thanks for your interest in possibly joining the Scheuerell Lab. The information provided here is intended to give you an idea of the qualities I look for in graduate students, and my general expectations for students in my lab.</p>

<h2>Qualities</h2>

<p>I'm looking for students who are interested in the intersection of applied ecology and management. Students in my lab are motivated, receptive to new ideas, and good team players. I expect my students to help with the design, implementation, analysis, and communication of results. You should be willing to take a chance on occasion, potentially make a mistake, and learn from it.</p>

<p>We try our best to cultivate an inviting and inclusive atmosphere, and everyone in the lab is expected to abide by a code of conduct. Students who contribute to our diversity of backgrounds, opinions, and approaches are especially welcome. I intend to train not just good scientists, but good citizens as well.</p>

<h2>Funding</h2>

In addition to finding a faculty member with whom you'd like to work, SAFS requires their faculty to have secured at least 6 months of funding to cover your tution, benefits, and stipend, prior to making yo uan offer. This funding is fluid and uncertain from year to year, which means I can't necessarily give a firm commitment to a student initially. 

### RA

### TA

### Fellowships

<ul>
  <li><a href="https://www.nsfgrfp.org/">NSF Graduate Research Fellowship</a></li>
  <li><a href="http://fosterscholars.noaa.gov/aboutnf.html">NOAA Nancy Foster Fellowship</a></li>
  <li><a href="https://coast.noaa.gov/nerrs/research/davidson-fellowship.html">NOAA Margaret A. Davidson Graduate Fellowship</a></li>
  <li><a href="https://seagrant.noaa.gov/NMFS-SG-Fellowship">NMFS-Sea Grant Joint Fellowship Program in Population and Ecosystem Dynamics and Marine Resource Economics</a></li>
  <li><a href="http://sites.nationalacademies.org/pga/fordfellowships/index.htm">Ford Foundation</a></li>
</ul>


## Expectations

As a member of our lab, there will be times when you are called upon to assist one or more of our colleagues with their research.

<h2>Still interested?</h2>

If all of this sounds great to you, please send me an email that includes the following information: (1) a description of your research interests, relevant experience, skills/abilities, and career goals; (2) a CV or resume with your GPA; and (3) an exmaple of your writing (e.g., publication, term paper). This is your opportunity to make a good first impression, so take the time to introduce yourself, your background, where you work or study, and what drew you to me. I will read through the materials you send me, and if I determine that we may indeed make a good fit, I will try my best to respond to you in a reasonable time, but please be patient. I may also ask to meet potential students in person, but unfortunately I do not have the time to meet with every prospective student.

Please direct specific questions about the application process to our [SAFS Graduate Program](https://fish.uw.edu/students/about-graduate-program/how-to-apply/).



</body>
</html>
