<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{ with .Site.Params.navigation.brand }}
                <a class="navbar-brand page-scroll" href="../#page-top">{{ . | markdownify }}</a>
            {{ end }}
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {{ if and .Site.Params.about .Site.Params.navigation.links.about }}
                    <li>
                        <a class="page-scroll" href="../#about">{{ .Site.Params.navigation.links.about }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.team .Site.Params.navigation.links.team }}
                    <li>
                        <a class="page-scroll" href="../#team">{{ .Site.Params.navigation.links.team }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.services.list .Site.Params.navigation.links.services }}
                    <li>
                        <a class="page-scroll" href="../#services">{{ .Site.Params.navigation.links.services }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Data.projects .Site.Params.navigation.links.portfolio }}
                    <li>
                        <a class="page-scroll" href="../#portfolio">{{ .Site.Params.navigation.links.portfolio }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.location .Site.Params.navigation.links.location }}
                <li>
                    <a class="page-scroll" href="../#location">{{ .Site.Params.navigation.links.location }}</a>
                </li>
                {{ end }}
                {{ if and .Site.Params.contact .Site.Params.navigation.links.contact }}
                    <li>
                        <a class="page-scroll" href="../#contact">{{ .Site.Params.navigation.links.contact }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.contact .Site.Params.navigation.links.prospectives }}
                    <li>
                        <a class="page-scroll" href="/prospectives/">{{ .Site.Params.navigation.links.prospectives }}</a>
                    </li>
                {{ end }}
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                {{ with .Site.Params.prospectives.title }}
                    <h2 class="section-heading text-center">{{ . | markdownify }}</h2>
                {{ end }}
                <hr>
<p>Thanks for your interest in possibly joining the Scheuerell Lab. The information provided here is intended to give you an idea of the qualities I look for in graduate students, and my general expectations for students in my lab.</p>

<h3>Qualities</h3>

<p>I'm looking for students who are interested in the intersection of applied ecology and management. Students in my lab are motivated, receptive to new ideas, and good team players. I expect my students to help with the design, implementation, analysis, and communication of results. You should be willing to take a chance on occasion, potentially make a mistake, and learn from it.</p>

<p>We try our best to cultivate an inviting and inclusive atmosphere, and everyone in the lab is expected to abide by a code of conduct. Students who contribute to our diversity of backgrounds, opinions, and approaches are especially welcome. I intend to train not only good scientists, but good citizens as well.</p>

<p>Projects involving a strong field component typically require a lot of cooperation and team work. As a member of our lab, there will be times when you are called upon to assist one or more of our colleagues with their research. Days in the field can be long, wet, cold, and tiring, so you should be prepared at the outset for this type of work.</p>

<h3>Funding</h3>

<p>In addition to finding a compatible faculty member with whom you'd like to work, that faculty member must also have secured at least 6 months of funding to cover your tution, benefits, and stipend, <em>prior to making you an offer</em>. This support typically comes from our own research grants, which means I won't necessarily be in a position to make an offer every year. Most students at SAFS are funded as a research assistant (RA), although we also have a few teaching assistant (TA) positions available as well. Students funded via an RA are typically expected to work directly on a project that may or may not be directly related to their own research.</p>

<p>Fellowships are also an excellent way to fund your graduate education. They release you from other obligations and allow you to focus on a research project of your own choosing. Each year SAFS offers a few fellowship awards to select students with excellent academic records, but these are very competitive. Alternatively, students may apply for external fellowships and carry them along to the institution of their choosing. Thus, I highly recommend all prospective students apply for one or more fellowships. Here are some possibilities:</p>

<ul style="line-height:200%">
  <li><a href="https://www.nsfgrfp.org/">NSF Graduate Research Fellowship</a></li>
  <li><a href="http://fosterscholars.noaa.gov/aboutnf.html">NOAA Nancy Foster Fellowship</a></li>
  <li><a href="https://coast.noaa.gov/nerrs/research/davidson-fellowship.html">NOAA Margaret A. Davidson Graduate Fellowship</a></li>
  <li><a href="https://seagrant.noaa.gov/NMFS-SG-Fellowship">NMFS-Sea Grant Joint Fellowship Program</a></li>
  <li><a href="http://sites.nationalacademies.org/pga/fordfellowships/index.htm">Ford Foundation</a></li>
</ul>


<h3>Still interested?</h3>

<p>If all of this sounds great to you, please send me an email that includes the following information: (1) a description of your research interests, relevant experience, skills/abilities, and career goals; (2) a CV or resume with your GPA; and (3) an exmaple of your writing (e.g., publication, term paper). This is your opportunity to make a good first impression, so take the time to introduce yourself, your background, where you work or study, and what drew you to me. I will read through the materials you send me, and if I determine that we may indeed make a good fit, I will try my best to respond to you in a reasonable time, but please be patient. I may also ask to meet potential students in person, but unfortunately I do not have the time to meet with every prospective student.</p>

<p>SAFS receives far more qualified applications than can possibly be admitted, which makes the application process exceptionally competitive. In recent years, <15% of all qualified applications have been accepted. Final decisions are typically made in April, though sometimes later. It’s impossible for me to make any promises until I know the status of my research grants and until I see all of the incoming graduate applications.</p>

<p>Please direct specific questions about the application process to the <a href="https://fish.uw.edu/students/about-graduate-program/how-to-apply/">SAFS Graduate Program</a>.</p>
            </div>
        </div>
    </div>
</section>

        {{ if .Site.Params.footer.enable }}
            {{ partial "footer.html" . }}
        {{ end }}

        {{ partial "js.html" . }}

        {{ template "_internal/google_analytics.html" . }}
    </body>
</html>
