<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{ with .Site.Params.navigation.brand }}
                <a class="navbar-brand page-scroll" href="../#page-top">{{ . | markdownify }}</a>
            {{ end }}
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {{ if and .Site.Params.about .Site.Params.navigation.links.about }}
                    <li>
                        <a class="page-scroll" href="../#about">{{ .Site.Params.navigation.links.about }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.team .Site.Params.navigation.links.team }}
                    <li>
                        <a class="page-scroll" href="../#team">{{ .Site.Params.navigation.links.team }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.services.list .Site.Params.navigation.links.services }}
                    <li>
                        <a class="page-scroll" href="../#services">{{ .Site.Params.navigation.links.services }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Data.projects .Site.Params.navigation.links.portfolio }}
                    <li>
                        <a class="page-scroll" href="../#portfolio">{{ .Site.Params.navigation.links.portfolio }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.location .Site.Params.navigation.links.location }}
                <li>
                    <a class="page-scroll" href="../#location">{{ .Site.Params.navigation.links.location }}</a>
                </li>
                {{ end }}
                {{ if and .Site.Params.contact .Site.Params.navigation.links.prospectives }}
                    <li>
                        <a class="page-scroll" href="/prospectives/">{{ .Site.Params.navigation.links.prospectives }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.contact .Site.Params.navigation.links.contact }}
                    <li>
                        <a class="page-scroll" href="../#contact">{{ .Site.Params.navigation.links.contact }}</a>
                    </li>
                {{ end }}
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-justify" style="padding:0px 100px 0px">
                {{ with .Site.Params.prospectives.title }}
                    <h2 class="section-heading text-center">{{ . | markdownify }}</h2>
                {{ end }}
                <hr>
<p>Thanks for your interest in the Applied Ecology Lab. This information is intended to give you an idea of the qualities I look for in graduate students, and my general expectations for people in my lab.</p>

<h3>Qualities & expectations</h3>

<p>I'm looking for well-rounded students who are interested in the intersection of ecology and management. Students in my lab are motivated, receptive to new ideas, and good team players. Because science generally involves a lot of trial and error, you should be willing to accept that mistakes can happen and that we can learn from them. We try our best to cultivate an inviting and inclusive atmosphere, and everyone in the lab is expected to abide by a code of conduct. I intend to train not only good scientists, but good citizens as well. Students who contribute to our diversity of backgrounds, opinions, and approaches are especially welcome.</p>

<p>Students who are primarily interested in quantitative analyses will be required to have a solid understanding of the data they are using. This usually means spending some time in the field or lab with our collaborators. Similarly, students who focus more on empirical studies are expected to develop the skills necessary to analyze their data in an appropriate manner. In either case, projects involving a strong field component typically require a lot of cooperation and teamwork. As a member of our lab, there will be times when you are called upon to assist one or more of us with our research. Days in the field can be long, wet, cold, and tiring, so you should be prepared for this type of work on occasion. That said, fieldwork can also be immensely rewarding and serve as an inspiration for future research.</p>

<h3>Funding</h3>

<p>If you and I should ultimately decide that our lab would be a good fit for you, we must have adequate funding in place to cover your tuition, benefits, and stipend, <em>before I can make you an offer</em>. This support typically comes from competitive research grants that I've secured, which creates uncertainty in the number of students I can accept in any given year. Students funded as a research assistant (RA) under my grants are typically expected to contribute directly to the larger project while conducting their own research. Although most students at SAFS are funded as an RA, we also have a few teaching assistant (TA) positions available as well.</p>

<p>Fellowships are another excellent way to fund your graduate education because they allow you to focus on a project of your own choosing without worrying about other research or teaching commitments. Each year SAFS offers a few fellowship awards to select students with excellent academic records, but these are highly competitive. Alternatively, students may apply for external fellowships and bring them along to the institution of their choosing. Thus, I highly recommend all prospective students apply for one or more fellowships. Here are some possibilities:</p>

<ul style="line-height:200%; font-size:16px">
  <li><a href="https://www.nsfgrfp.org/">NSF Graduate Research Fellowship</a></li>
  <li><a href="http://fosterscholars.noaa.gov/aboutnf.html">NOAA Nancy Foster Fellowship</a></li>
  <li><a href="https://coast.noaa.gov/nerrs/research/davidson-fellowship.html">NOAA Margaret A. Davidson Graduate Fellowship</a></li>
  <li><a href="https://seagrant.noaa.gov/NMFS-SG-Fellowship">NMFS-Sea Grant Joint Fellowship Program</a></li>
  <li><a href="http://sites.nationalacademies.org/pga/fordfellowships/index.htm">Ford Foundation</a></li>
</ul>

<h3>Moving ahead</h3>

<p>If this all sounds great to you, please send me an email that includes the following information<a href="#foot1"><sup>[1]</sup></a>:</p>

<ol style="line-height:200%; font-size:16px">
  <li>a description of your research interests, experience, skills/abilities, and career goals;</li>
  <li>a copy of your CV or resume that includes the names of 3 references<a href="#foot2"><sup>[2]</sup></a>; and</li>
  <li>a copy of your undergraduate transcript (and any others, if applicable)<a href="#foot3"><sup>[3]</sup></a>.</li>
</ol>

<p>This is your opportunity to make a good first impression, so take the time to tell me about your background, where you study or work, and what drew you to me. I will read through the materials you send me, and if I determine that we might make a good fit, I will respond to you as soon as possible, but please be patient. I may also ask to meet potential students in person, but unfortunately I do not have the time to meet with every prospective student.</p>

<p>Please note that the application process at SAFS is exceptionally competitive. We receive &gt;150 qualified applications each year, but &lt;15% of them are usually accepted. Although final decisions are typically made in April, they can be delayed for various reasons. Also understand that it's impossible for me to make any commitments to students until I know the status of my research grants and until I see all of the incoming applications.</p>

<p>You can find more details about the application process from the <a href="https://fish.uw.edu/students/about-graduate-program/how-to-apply/">SAFS Graduate Program</a>.</p>

<br><br>

<p id="foot1" style="font-size:13px;line-height:0.3">[1] Please give your materials meaningful names (e.g., LastName_CV.pdf).</p>
<p id="foot2" style="font-size:13px;line-height:0.3">[2] These people should be able to comment on your potential as a grad student.</p>
<p id="foot3" style="font-size:13px;line-height:0.3">[3] Unofficial transcripts are OK.</p>

            </div>
        </div>
    </div>
</section>

        {{ if .Site.Params.footer.enable }}
            {{ partial "footer.html" . }}
        {{ end }}

        {{ partial "js.html" . }}

        {{ template "_internal/google_analytics.html" . }}
    </body>
</html>
